@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

:root{
  --primary-background: hsl(220, 98%, 61%);
  --check-background: linear-gradient(to right, #57ddff, #c058f3);

  --l-very-light-gray: hsl(0, 0%, 90%);
  --l-very-light-grayish-blue: hsl(236, 33%, 92%);
  --l-light-grayish-blue: hsl(233, 11%, 84%);
  --l-dark-grayish-blue: hsl(236, 9%, 61%);
  --l-very-dark-grayish-blue: hsl(235, 19%, 35%);

  --d-very-dark-blue: hsl(235, 21%, 11%);
  --d-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --d-light-grayish-blue: hsl(234, 39%, 85%);
  --d-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --d-dark-grayish-blue: hsl(234, 11%, 52%);
  --d-very-dark-grayish-blue: hsl(237, 14%, 26%);

  --font-size: 18px;

  --bold: 700;
  --normal: 400;

  --border-radius: 4px;
}

#root{
  height: inherit;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--font-size);
}

body{
  height: 100vh;
  background-color: var(--d-very-dark-blue);
}

ul{
  list-style-type: none;
}

.background-image{
  z-index: -1;
  position: absolute;
  background: url(./assets/images/bg-mobile-dark.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 35vh;
}

.light {
  background-color: var(--l-light-grayish-blue);
}
  
.light .background-image{
  background-image: url(./assets/images/bg-mobile-light.jpg);
}

button{
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

input{
  border: none;
  font: inherit;
  color: inherit;
}

.wrapper{
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--d-very-dark-desaturated-blue);
  gap: 1rem;
  color: var(--d-light-grayish-blue);
}

.light .wrapper{
  background-color: var(--l-very-light-grayish-blue);
  color: var(--l-very-dark-grayish-blue);
}

.color-gray{
  color: var(--l-very-dark-grayish-blue);
}

.light .color-gray{
  color: var(--l-dark-grayish-blue);
}

@media  screen and (min-width: 700px) {
  .background-image{
    background-image: url(./assets/images/bg-desktop-dark.jpg);
  }

  .light .background-image{
    background-image: url(./assets/images/bg-desktop-light.jpg);
  }
}

/* ======================================== UTILITIES =================================== */

.container{
  padding-inline: 1rem;
  max-width: 600px;
  margin-inline: auto;
}

.h-100{
  height: 100vh;
}


.text-center{
  text-align: center;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.gap-sm{
  gap: 0.6rem;
}

.gap-m{
  gap: 1.2rem;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.basis-100{
  flex-basis: 100%;
}

.btn-color{
  color: var(--d-dark-grayish-blue);
}

.active{
  color: var(--primary-background);
}

.pad-m{
  padding-inline: 0.5rem;
  padding-block: 0.8rem;
}

.pad-l{
  padding: 1.5rem;
}

.margin-b-2{
  margin-bottom: 2rem;
}

.pad-inline-m{
  padding-inline: 0.8rem;
}

.completed{
  text-decoration: line-through;
  color: var(--d-dark-grayish-blue);
}

.form-field{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}

.form-field input{
  padding: 0.5rem;
  width: 70vw;
  max-width: 15rem;
  border-radius: 5px;
  background-color: var(--d-very-dark-grayish-blue);
}

.error{
  outline: 1px solid red;
}

.err-msg{
  color: red;
  font-size: 70%;
  height: 0.8rem;
}

.btn-primary{
  background-color: var(--d-dark-grayish-blue);
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  justify-self: center;
}

@media screen and (min-width: 700px) {
  .container{
    padding-inline: initial;
  }  
}