@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

:root{
  --color-primary: #023047;
  --color-secondary: #219EBC;
  --color-tertiary: #8ECAE6;
  --color-accent: #FFB703;
  --color-highlight: #FB8500;

  --padding-s: 0.4rem;
  --padding-m: 0.8rem;
  --padding-l: 1.2rem;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Archivo Narrow', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.pad-s{
  padding: var(--padding-s);
}

.pad-x-s{
  padding-inline: var(--padding-s);
}

.pad-v-s{
  padding-block: var(--padding-s);
}

.pad-m{
  padding: var(--padding-m);
}

.pad-x-m{
  padding-inline: var(--padding-m);
}

.pad-v-m{
  padding-block: var(--padding-m);
}

.pad-l{
  padding: var(--padding-l);
}

.pad-x-l{
  padding-inline: var(--padding-l);
}

.pad-v-l{
  padding-block: var(--padding-l);
}